<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    
    <%- include('./partials/nav.ejs')  %> 

    <div class="about content">
        <h2>-About me-</h2>
        <h4>Hey everyone!</h4>
        <p>I am Harsh Tita and welcome all of you to my blog site.</p><br>
        <p>A third year undergraduate student pursuing a career in Computer Science and Engineering from Amity University Kolkata. Having a lot of fascination for web technologies, I aspire to become a Software Developer and solve challenging real world problems.</p>
        
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>