<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    
    <%- include('./partials/nav.ejs')  %> 

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non qui tempore, nihil aspernatur maxime distinctio commodi, corporis consectetur vero repellat corrupti similique aperiam ipsum, modi nesciunt unde. Accusamus, iste animi.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, commodi dignissimos ex vitae aspernatur esse aliquam, dicta quis deleniti rem fuga expedita? Perspiciatis quam ex esse sed? A, magnam suscipit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex saepe quas consequatur, harum amet, quisquam dolorem, quidem iure nisi veniam numquam architecto voluptatem. Vitae voluptates tenetur esse eius eos sed.</p>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>